@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@theme static {
  /* Fonts */
  --font-serif: 'Lora';
  --font-sans: 'Lato';

  /* Colors */
  --color-red-50: #fef1f4;
  --color-red-100: #fcdee5;
  --color-red-200: #fac2cd;
  --color-red-300: #f693a7;
  --color-red-400: #f05678;
  --color-red-500: #ec224e;
  --color-red-600: #eb1443;
  --color-red-700: #d3123c;
  --color-red-800: #ae0f31;
  --color-red-900: #750019;
  --color-red-950: #570013;

  --color-raisin: #1d1f25;
  --color-raisin-cool: #242A32;

  --ui-primary: var(--color-primary-900);

  /* Sizing */
  --radius: 0.25rem;
}

@layer theme {
  .dark {
    --ui-primary: var(--color-primary-400);
    color: var(--ui-text);
  }

  :root {
    figcaption {
      color: var(--ui-text-muted);
      font-size: var(--text-sm);
      margin-top: calc(var(--spacing) * 3);
    }
  }
}
